// Header Animations

@keyframes show-down {
  0% {
    transform: translateY(-3rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#body-inicio #header {
  .bg-figure:after {
    content: '';
    @include like-bg-cover;
    background-image: url('/media/bg-stripes.min.svg');
    background-attachment: fixed;
    background-size: cover;
  }
  #logo-yaiza {      animation: show-from .5s 0.25s both; --show-from: translateX(-3rem); }
  #logo-dance {      animation: show-from .5s 0.50s both; --show-from: translateX(3rem); }
  #logo-studios {    animation: show-from .5s 0.75s both; --show-from: translateX(3rem); }
  #logo-up {         animation: show-from .5s 0.00s both; --show-from: translateY(3rem); }
  // #logo-yaiza-down,
  #logo-down {       animation: show-from .5s 0.00s both; --show-from: translateY(-3rem); }
  @mixin show-from($delay) {
    animation: show-from .5s (0.75 + .25s * $delay) both;
  }
  .description p {        @include show-from(1); }
  .description .buttons { @include show-from(2); }
}

.subtitle {
  text-transform: uppercase;
}

#profesores {
  .column__header {
    @extend .hide;
  }
}

.contact__address {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0.375em;
}
